.custom-link {
    color: #000000; /* Text color for the links */
    font-weight: bold; /* Make the text bold */
    text-transform: uppercase; /* Uppercase text */
    transition: color 0.3s ease-in-out; /* Add a smooth color transition effect */
    /* Add a border */
    border: 1px solid #ffcc00;
    border-radius: 5px;
    /* Add a box shadow */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    /* Change link color on hover */
    &:hover

{
    color: #fff; /* Change the text color on hover */
    text-decoration: none; /* Remove underline on hover */
    cursor: pointer; /* Change the cursor to a pointing hand */
}
}


/* Custom styles for the Create page */
.container {
    margin-top: 20px;
}

.form-group label {
    font-weight: bold;
}

/* Custom styles for the +ADD link */
#btnAdd {
    color: #007bff; /* Blue color for the link */
    font-size: 18px;
    text-decoration: none;
    margin-top: 10px;
}

    #btnAdd:hover {
        text-decoration: underline;
    }

/* Custom styles for the Save button */
.btn-save {
    background-color: #28a745; /* Green background color */
    color: #fff; /* White text color */
    border: none;
}

    .btn-save:hover {
        background-color: #218838; /* Darker green on hover */
    }


/* Make the text bold */
.navbar-brand {
    font-weight: bold;
}

/* Add a color gradient to the text */
.navbar-brand {
    background: linear-gradient(to right, #00ccff 0%, #ff00cc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

/* Add a text shadow */
.navbar-brand {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


.custom-checkbox {
    /* Increase the size of the checkbox */
    width: 30px;
    height: 30px;
}


