@model IEnumerable<Final02.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success justify-content-end">Add Course New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseId" class="btn btn-success justify-content-end">Edit</a>                    <a asp-action="Delete" asp-route-id="@item.CourseId" class="btn btn-success justify-content-end">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
